<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%-5level] [%30.30thread] [%30.30logger{0}:%-3line] - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
            <!--<level>INFO</level>-->
        <!--</filter>-->

        <file>campus-be.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>campus-be.%d{yyyy-MM-dd}.zip</fileNamePattern>

            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] [%30.30thread] [%30.30logger{0}:%-3line] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="pe.joedayz" level="DEBUG" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.transaction" level="INFO" />
    <logger name="org.springframework.security" level="DEBUG" /> <!-- to debug security related issues (DEBUG) -->
    <logger name="org.springframework.web.servlet.mvc" level="INFO" /> <!-- some serialization issues are at trace level here: org.springframework.web.servlet.mvc.method.annotation.ServletInvocableHandlerMethod -->
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.engine.jdbc.batch.internal.BatchingBatch" level="DEBUG" />
    <logger name="pe.joedayz.api.support.LoggingAspect" level="WARN" />
    <logger name="pe.joedayz.api.config.ApiAudit" level="DEBUG" />
    <!--<logger name="org.hibernate.type" level="TRACE" />-->

    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
