[Unit]
Description=Campus Front end Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/java -Djava.security.egd=file:/dev/./urandom -jar  /opt/apps/campus-fe.jar
Restart=on-abort

[Install]
WantedBy=multi-user.target
