[Unit]
Description=Campus Back end Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/java -jar -Djava.security.egd=file:/dev/./urandom -Dspring.profiles.active=joeint /opt/apps/campus-be.jar
Restart=on-abort

[Install]
WantedBy=multi-user.target
