[Unit]
Description=JoeDayz Web
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/java -jar -Djava.security.egd=file:/dev/./urandom /opt/apps/joedayz-pe.jar
Restart=on-abort

[Install]
WantedBy=multi-user.target
